---
import PostCard from '$c/PostCard.astro'
import Layout from '$l/Layout.astro'
import { getCollection } from 'astro:content'

const allPosts = await getCollection('posts')
---

<Layout title="Blog">
	<h1 class="title-hero">Blog</h1>
	{
		allPosts.map((post) => (
			<PostCard
				link={`/posts/${post.slug}`}
				title={post.data.title}
				description={post.data.description}
			/>
		))
	}
</Layout>
