---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<h1 class="title-hero">Hello!</h1>
	<p>Welcome to my website! Check out the top bar if you want to learn more about me.</p>
	<p>Here's a random cat!</p>
	<div class="flex justify-center">
		<img
			class="max-w-[75%] max-h-xl shadow-lg border-12 border-primary-2"
			src="https://cataas.com/cat"
		/>
	</div>
</Layout>

<style>
	p {
		--uno: text-center;
	}
</style>
