---
import Layout from '$l/Layout.astro'
import JobCard from '$c/JobCard.astro'
---

<Layout title="Gabriel - Resume">
	<h2 class="mt-0!">About me</h2>
	<p>
		I'm Gabriel, a 21 year old programmer from Poland and an all things computer enthusiast. I
		love Linux, messing with electronics, modding/rooting everything humanly possible and
		messing with software. As a hobby, I play rhythm games and mess with 3D printers. You can
		find my GitHub on the socials page.
	</p>
	<h2>Experience</h2>
	<p>
		I mainly write code in Golang and JavaScript/TypeScript, but I have dabbled in Rust, Python,
		Java, C++, C and written C# in my career. For JS frameworks, I have a lot of experience with
		SvelteKit and I have used Astro to build this website plus AlpineJS for some simple
		projects. My experience is mainly with full-stack web development.
	</p>
	<h2>Work history</h2>
	<div class="flex flex-col gap-4">
		<JobCard
			companyName="WEBCON"
			timeWorked="Nov 2024 - Current"
			languages={['WEBCON BPS', 'MSSQL', 'Windows Server', 'C#', 'SvelteKit']}
			website="https://webcon.com/"
			>Working as a support engineer for corporate clients, keeping all of their business
			processes running while also helping with maintenance of miscellaneous projects within
			the company.
		</JobCard>
		<JobCard
			companyName="Hussle"
			timeWorked="Jan 2022 - Feb 2024"
			languages={[
				'Golang',
				'TypeScript',
				'SvelteKit',
				'Tailwind CSS',
				'PostgreSQL',
				'GraphQL',
				'Docker',
				'Linux'
			]}
			website="https://hussle.work/"
			>In a team of two developers wrote a web application used for finding job candidates
			from scratch, worked on: database schema, e-mail notifications, processing
			user-generated content, login system, user permission system, code review.
		</JobCard>
		<JobCard
			companyName="EX7"
			timeWorked="5 months (contract)"
			languages={['C#', 'MSSQL', 'Entity Framework', 'LINQ', 'ASP.NET', 'MVC']}
			website="https://ex7.pl"
			>Hired after an internship, worked on integrating the in-house software for commercial
			distribution companies with some of the largest e-commerce services.
		</JobCard>
	</div>
</Layout>

<style>
	h2 {
		--uno: 'font-bold text-4xl text-accent-11 my-2 text-center';
		font-family: 'Ubuntu';
	}
	a {
		--uno: 'text-accent-11';
	}
</style>
