---
import Layout from '$l/Layout.astro'
import SocialCard from '$c/SocialCard.astro'
---

<Layout title="Socials">
	<h1 class="font-bold font-[Ubuntu] text-6xl text-accent-11 mb-2">Socials</h1>
	<div class="flex flex-col flex-wrap flex-grow-0 gap-2">
		<SocialCard
			link="https://github.com/radiden"
			title="GitHub"
			iconClass="i-carbon-logo-github"
		/>
		<SocialCard link="https://gitcat.ca/rai" title="Gitea" iconClass="i-carbon-code" />
		<SocialCard
			link="mailto:contact_gabriel@fastmail.com"
			title="Email"
			iconClass="i-carbon-email"
		/>
	</div>
</Layout>
