---
interface Props {
	link: string
	title: string
	iconClass: string
}

const props = Astro.props
---

<a
	class="p-4 bg-primary-2 hover:bg-primary-3 text-accent-12 rounded-lg flex items-center justify-center flex-col"
	href={props.link}
>
	<div class=`w-6 h-6 ${props.iconClass}`></div>{props.title}
</a>
