<nav class="flex flex-row justify-between items-center bg-primary-2 mt-2 shadow-lg mb-12 px-2">
	<a class="text-accent-11 font-bold ml-2 text-lg" href="/">gpalka.dev</a>
	<ul role="list" class="flex flex-row items-center gap-4 justify-center my-2 text-lg">
		<li><a href="/resume">Resume</a></li>
		<li><a href="/socials">Socials</a></li>
		<!-- <li><a href="mailto:contact_gabriel@fastmail.com">Contact</a></li> -->
	</ul>
</nav>

<style>
	a {
		--uno: 'text-accent-11 hover:(underline cursor-pointer)';
		font-family:
			Fira Code,
			monospace;
	}
	li {
		--uno: 'bg-accent-11 px-1';
	}
	li > a {
		--uno: 'text-primary-2';
	}
</style>
