<nav
	class="flex flex-col sm:flex-row justify-between items-center bg-primary-2 mt-2 shadow-lg mb-12 px-2"
>
	<a class="text-accent-11 font-bold ml-2 text-lg link" href="/">gpalka.dev</a>
	<ul role="list" class="flex flex-row items-center gap-4 justify-center my-2 text-lg">
		<li><a href="/blog">Blog</a></li>
		<li><a href="/resume">Resume</a></li>
		<li><a href="/socials">Socials</a></li>
	</ul>
</nav>

<style>
	li {
		--uno: 'p-0';
	}
	a {
		--uno: 'text-accent-11 hover:(cursor-pointer)';
		font-family:
			Fira Code,
			monospace;
	}
	li > a {
		--uno: 'p-1 bg-accent-11 px-1 hover:bg-primary-2 text-primary-2 hover:text-accent-11';
	}
</style>
